{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class='mb-3'>
            <select class="form-select mx-auto w-auto" name='symbol' aria-label="Choose a symbol">
                <option selected>Choose a symbol</option>
                {% for purchase in purchases %}
                    <option value="{{ purchase.stock }}">{{ purchase.stock | upper }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='mb-3'>
            <input id="secondary" autocomplete='off' class='form-control mx-auto w-auto' name='shares' placeholder='Number of shares' type="text">
        </div>
        <button class='btn btn-primary' type='submit'>Sell Now</button>
    </form>
    <script>
        var options = document.getElementsByTagName("option");
        var symbol = new URL(window.location.href).searchParams.get("symbol");

        for (option of options) {
            if (option.value === symbol) {
                option.setAttribute("selected", "true");
            }
        }
        autofocus()
    </script>
{% endblock %}

